PORT=5000
JWT_SECRET=votre_phrase_secrète_super_longue_ici
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
LDAP_MOCK=true
LDAP_URL=ldap://192.168.93.198:389
LDAP_BASE_DN=dc=tiznit,dc=local
LDAP_USER_SUFFIX=@tiznit.local
LDAP_BIND_DN=cn=Administrateur,cn=Users,dc=tiznit,dc=local
LDAP_BIND_PASSWORD=password123
PGHOST=localhost
PGPORT=5432
PGDATABASE=securpass
PGUSER=postgres
PGPASSWORD=votre_mot_de_passe